.landing-image {
  margin-top: 5rem;
  height: 50%;
  width: 45%;
}

.wrapper {
  display: flex;
}

.formm {
  margin-top: 5%;
  border-radius: 2rem;
  background-color: #d3d3d394;
  margin-left: 5%;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  width: 40%;
}
.button {
  height: 2rem;

  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.areaa
{
  box-sizing: border-box;
  width: 100%;
  margin-top:7%;
}




@media (max-width: 600px) {
  .landing-image {
    display: none;
  }
  .formm{
/*     margin: 70px; */
    width: 90%;
    height: 65vh;
  }
}
